*{
    font-family: 'Courier New', Courier, monospace;
    
}


.topup{
    background-color: rgb(75, 194, 194);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid rgb(173, 154, 129);
}
h1{
    font-size: 50px;
    margin-top: 70px;
    text-align: center;
    text-decoration: underline;
}

h2{
    color: black; 
}
.middle{
    background-color: rgb(40, 155, 155);
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    
}
ul#expense-list{
    list-style-type: initial;
    padding: 20px;
    font-size: 18px;
    color: rgb(11, 11, 90);
}


p#summary{
    font-size: 20px;
    font-weight: bold;
    color:brown;
    margin-top: 20px;
    

}