* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;

}



.header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(34, 23, 59); 
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid rgb(139, 123, 123);

   
     
}

.ATM{
  position: absolute;
  width: 220px;
  height: auto;
  left: 38%;
}

.hidden{
  display: none;
}




